<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @permission.superior.full_name %>
</p>

<p>
  <strong>Target:</strong>
  <%= @permission.subordinate.full_name %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @permission.edit %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
