<p id="notice"><%= notice %></p>

<p>
  <strong>Read:</strong>
  <%= @permission.read %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @permission.edit %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
